body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  min-height: 100vh;
}

.header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  z-index: 1;
}

.row {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  width: 100vw;
  align-items: stretch;
  justify-content: center;
  background-color: #5d6d7e;
}

.App {
  justify-content: center;
  background-color: #d6dbdf;
  width: 660px;
}

.ant-form-item {
  display: none;
}

.Calender {
  padding: 5px 28px 45px 35px;
}

@media only screen and (max-width: 376px) {
  .Calender {
    padding: 0px 3px 35px 16px;
  }
}