body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-container {
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  align-items: stretch;
  justify-content: center;
  background-image: url('./nyc.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#app {
  justify-content: center;
  width: 800px;
  z-index: 1;
}

#login-button, #action-buttons {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

#social-buttons {
  /* display: none !important; */
  position: fixed;
  top: 8px;
  right: 5px;
}

#social-buttons > * {
  display: block;
  margin-bottom: 3px;
}

#user-info {
  background-color: rgba(256, 256, 256, 0.6);
  padding-top: 20px;
  padding-bottom: 26px;
  margin-top: 45px;
  border-radius: 6px;
  line-height: 1.5;
  text-align: center;
  color: #555555;
}

#user-info-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: left;
}

.user-info-row-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#subtitle {
  text-align: 'center';
  color: #555555;
  padding: 0 0 12px 0;
}

#explanation {
  font-size: 0.82rem;
  color: #0066ff;
  font-weight: normal;
  padding-left: 0.6rem;
}

#explanation:hover {
  cursor: pointer;
}

#calendar-background {
  background-color: rgba(255, 255, 255, 0.92);
  min-height: 280px;
  margin-top: 50px;
  margin-bottom: 70px;
  border-radius: 6px;
}

#tile-container {
  padding: 40px 20px 50px 22px;
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  overflow: wrap;
  line-height: 0.9;
}

.tile {
  /* transition: transform 0.12s; */
  font-size: 1.1rem;
  margin-left: 1px;
}

.tile:hover {
  transform: scale(1.2, 1.2) translate(0px, -2px);
  color: red !important;
  cursor: pointer;
}

.tile::selection {
  background-color: rgba(0,0,0,0);
  color: red;
}

.tooltip {
  visibility: hidden;
  transition-delay: 0.4s;
  background-color: #383838;
  min-width: 6rem;
  padding: 7px;
  border-radius: 3px;
  position: absolute;
  bottom: 115%;
  right: 105%;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.9rem;
  text-shadow: none;
  color: white;
  opacity: 0.9;
}

.tile:hover .tooltip {
  visibility: visible
}

#login-notice-pic {
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

@media only screen and (max-width: 768px) {
  #tile-container {
    padding: 40px 20px 50px 24px;
  }
}

@media only screen and (max-width: 425px) {
  #tile-container {
    padding: 40px 15px 50px 17px;
  }
  
  #calendar-background {
    min-height: 305px;
    margin-top: 45px;
    margin-bottom: 35px;
  }

  #user-info {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 375px) {
  #tile-container {
    padding: 30px 10px 35px 10px;
    background-size: auto 100vh;
  }
}

@media only screen and (max-width: 320px) {
  #tile-container {
    padding: 30px 8px 35px 8px;
    background-size: auto 100vh;
  }
}
