body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.main-container {
  width: 100vw;
  min-height: 100vh;
}


.main-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100vw;
  align-items: stretch;
  justify-content: center;
  background-image: url('./nyc.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  justify-content: center;
  width: 800px;
  z-index: 1;
}

.action-buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.login-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.user-info {
  background-color: rgba(256, 256, 256, 0.6);
  padding-top: 20px;
  padding-bottom: 26px;
  margin-top: 45px;
  border-radius: 6px;
  line-height: 1.5;
  text-align: center;
  color: #555555;
}

.user-info-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: left;
  padding-left: 16px;
}

.user-info-row-wrapper {
  margin-left: 16px;
}

.calendar-background {
  background-color: rgba(255, 255, 255, 0.92);
  min-height: 280px;
  margin-top: 50px;
  margin-bottom: 70px;
  border-radius: 6px;
}

.tile-container {
  padding: 40px 20px 50px 22px;
  background-color: rgba(0,0,0,0);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  overflow: wrap;
  font-size: 1.2em;
  line-height: 0.9;
}


@media only screen and (max-width: 768px) {
  .tile-container {
    padding: 40px 20px 50px 23px;
  }
}

@media only screen and (max-width: 425px) {
  .tile-container {
    padding: 40px 15px 50px 17px;
  }
  
  .calendar-background {
    min-height: 305px;
    margin-top: 45px;
    margin-bottom: 35px;
  }

  .user-info {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .tile-container {
    padding: 30px 10px 35px 10px;
    background-size: auto 100vh;
  }
}

@media only screen and (max-width: 320px) {
  .tile-container {
    padding: 30px 8px 35px 8px;
    background-size: auto 100vh;
  }
}

.tile {
  /* transition: transform 0.12s; */
  font-size: 1.1em;
  margin-left: 1px;
}

.tile:hover {
  transform: scale(1.3, 1.3) translate(0px, -3px);
  color: red !important;
}

.tile::selection {
  background-color: rgba(0,0,0,0);
  color: red;
}

.tooltip {
  visibility: hidden;
  transition-delay: 0.5s;
  background-color: #383838;
  min-width: 8em;
  padding: 7px;
  border-radius: 3px;
  position: absolute;
  bottom: 115%;
  right: 105%;
  text-align: center;
  font-size: 0.6em;
  line-height: 1.2em;
  text-shadow: none;
  color: white;
  opacity: 0.9;
}

.tile:hover .tooltip {
  visibility: visible
}

.login-notice-pic {
  padding-top: 1em;
  padding-bottom: 0.7em;
}
